* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: raleway;
}

body{ 
  background-color: #282828;
  font: normal 20pt Arial;
} 

h1 { 
  color: #fff;
  font-size: 30px;
  margin-left: 10px;
}

p { 
  color: #fff;
  font: normal 18pt Arial; 
}
p { color: #ffff;
 font: normal 18pt Arial; 
}
 h2{
  color: #ffff;
  font: normal 18pt Arial 
 }
a {
  color: #fff;
}
p{
  color:#ffff;
  font: normal 18pt Arial;
  padding-left: 20px;
}
nav {
  height: 100px;
  background-color: #ffffff;
  background-image: linear-gradient(180deg, #000000 0%, #282828 79%);
  display: flex;  
  justify-content: space-between;
  align-items: center;
  
}

nav ul {
  list-style: none;
  margin: 0;
  margin-right: 10;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
  margin: 0 10px;
}

main {
  height: 600px;
  display:flex ;
  justify-content: space-between;
  margin: 0 20px;
  gap: 20px;
  
}

img {
  width: 15%;
}
 .hi5 {
width: 10%;  
display: flex;
justify-content: center;
margin: 0!important;
}
.logo{
  display: flex;
  justify-content: center;
}

.borda{
  border: 1px solid grey;
}

.fs {
  width: 110%
  ;
}
.uss {
  width:60%;
}
.uss1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.fotos{
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}
footer{
  background-color: #ffffff;
  background-image: linear-gradient(180deg, #282828 0%, #282828 0%);
  
}
footer div {
  display: flex;
  justify-content: space-around;
  align-items: center;
    margin-top: 5px;
    
  }
  
  footer ul{
    display: flex;
    flex-direction: column;
  }

  footer ul span {
    color: #ffffff;
  }

  .borda1{
    border: 1px solid grey;
    padding: 30px 0;

  }

.gamb{
  display: flex;
  justify-content: space-between;
}

.ppp{
  position: relative;
  right: 50px;
}